body {
    background-color: #f4bae8;
    font-family: Arial, sans-serif;
    font-size: 35px;
    margin: 40px;
}

/* svi boxovi */
body > div {
    background-color: #e782ac;
    border: 2px solid #f82375;
    border-radius: 10px;
    padding: 15px;
    width: fit-content;
    margin-bottom: 15px;
    display: inline-flex;
    gap: 10px;
}

/* prva dva u istom redu */
body > div:nth-child(1),
body > div:nth-child(2) {
    display: inline-flex;
}

/* ostali ispod */
body > div:nth-child(3),
body > div:nth-child(4),
body > div:nth-child(5) {
    display: block;
}

p {
    margin: 0;
}

/* dugme */
button {
    background-color: #87CEFA;
    color: black;
    border: 2px solid #4682B4;
    border-radius: 10px;
    padding: 15px 30px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #6BB9F0;
}